// font-family
$ff_ms: "Microsofr Yahei";
// color
$fc_fff: #fff;
$fc_333: #333;
// background-color
$nav_bg: #324157;
$side_bg: #eef1f6;
$homeItem_bg: darken(#eef1f6, 10%);
$card_bg: #f7f7f7;
// border-color
$bdc_d3: #d3d3d3;
